{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}

    <h1 class="ptn_title">Partenaires</h1>

    <div class="ptn_ctn">
        {% for category in categories %}
            <p>Partenaires {{ category.name }}</p><br>
            {% for item in partners %}
                <img src="{{ item.logo }}" alt="{{ item.name }}"> <br>
            {% endfor %}
        {% endfor %}
    </div>

    <h2 class="ptn_title"> Intéressé pour devenir partenaire de TEDxSaintOuen ? </h2>

{% endblock %}
