{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}

    <h1 class="ptn_title">Partenaires</h1>

    <div class="ptn_ctn">
        {% for item in partners %}
            <p>Partenaires {{ item.category }}</p> <br>
            <img src="{{ item.logo }}" alt="{{ item.name }}"> <br>
        {% endfor %}
    </div>

    <h2 class="ptn_title"> Intéressé pour devenir partenaire de TEDxSaintOuen ? </h2>

{% endblock %}
