{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% block body %}
    <h1 class="home_title">Contactez nous</h1>
    <div class="form_ctn">
        {% include '/home/_form_contact.html.twig' %}
    </div>
{% endblock %}