{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}

    <h1 class="ptn_title">Partenaires</h1>
    <div class="ptn_ctn">
        {% for category in categories %}
            <p class="ptn_ctg">Partenaires {{ category.name }}</p><br>
            {% for partner in category.partners %}
                <img id="team_pix" src="{{ partner.logo }}" alt="{{ partner.name }}">
            {% endfor %}
        {% endfor %}
        <br>
    </div>

    <h2 class="ptn_contact"> Vous souhaitez devenir partenaire de <br> <span class="red">TEDx</span> Saint-Ouen ? </h2>

{% endblock %}
