{% extends 'base.html.twig' %}

{% block title %}speakers{% endblock %}

{% block body %}
    <div class="talks_banner" xmlns="http://www.w3.org/1999/html">
        <h1 class="ptn_title">Speakers</h1>
    </div>

    <div class="speakers_ctn">
        {% for speaker in speakers %}
            <div class="team_ctn">
                <img src="{{ speaker.photo }}" alt="{{ speaker.name }}">
                <p class="speakerName"> {{ speaker.name }}<br>
                <p> {{ speaker.job }}</p><br>
            </div>
        {% endfor %}
        <br>
    </div>

{% endblock %}