{% extends 'base.html.twig' %}

{% block title %}Equipes{% endblock %}

{% block body %}

    <h1 class="ptn_title">Equipes</h1>
    <div class="row">
        {% for team in teams %}
            <div class="team_ctn col-3">
                <img src="{{ team.photo }}">
                <p class="team_name">{{ team.name }}</p>
                <p class="team_job">  {{ team.job }}</p>
            </div>
        {% endfor %}
    </div>



{% endblock %}
