.red {
    color: #e62b1e;
}

/* NAVBAR */

.navbar {
    font-family: Helvetica;
    font-size: 1.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.navlink {
    color: white;
    text-decoration: none;
    padding-right: 0.5em;
}

.navlogo {
    color: white;
    text-decoration: none;
    position: fixed;
    top: 0.9em;
    left: 0.5em;
}

.navbar,
.navlink {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.navlink:hover {
    color: #e62b1e;
    text-decoration: none;
}

.navlogo:hover {
    opacity: 90%;
    text-decoration: none;
    color: white;
}

/* HOME */

.home_title {
    color: white;
    text-align: center;
}

/* PARTENAIRES */

body {
    background-color: black;
    color: black;
    width: 100%;
}

.ptn_title {
    text-align: center;
    color: white;
    padding-top: 2em;
    font-size: 4em;
    font-family: Helvetica, sans-serif;
}

.ptn_ctn {
    text-align: center;
    color: white;

}

.ptn_ctn img {
    padding: 0px;
    width: 230px;
    height: 200px;

}

.ptn_ctg {
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    margin-top: 5em;
}

.ptn_contact {
    text-align: center;
    color: white;
    font-size: 1.3em;
    font-family: Helvetica, sans-serif;
    margin-top: 5em;
}

/*apropos */
.section_
{
    display: flex;
}

.title1
{
    margin-top: 215px;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.title2
{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.para1
{
    max-width: 400px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}

.fusion
{
    margin-left: -255px;
}
.apropos
{
    text-align: center;
}

.triangle
{
    display : inline-block;
    height :0px;
    width :0px;
    border-bottom : 700px solid transparent;
    border-left : 700px solid #e62b1e;
}


/* TALKS */

.talks_banner {
    background-color: rgb(226,42,25);
    padding-bottom: 30px;
    padding-top: 2em;
}

.talks_banner img {
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.talks_banner
.talks_title {
    color: white;
    font-family: Helvetica, sans-serif;
    margin-left: 8.7em;
}

.talks_title {
    position: absolute;
    margin-top: 1em;
    font-size: 4em;
}

.bloc_page_content_talks {
    background-color: rgb(28,28,28);
    padding-top: 30px;
    padding-bottom: 50px;
}

.card_talks {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15em;
}

.container_talks {
    padding: 30px 16px;
    background-color: white;
}

.row {
    width: 100%;
}

/* EQUIPES */

.team_ctn {
    text-align: center;
    color: white;
}

.team_ctn img {
    padding: 0px;
    border-radius: 100% ;
    height: 200px;
    width: 200px;
}

.team_name {
    font-size: 1.5em;
    margin-bottom: 0px;
}

.team_job {
    font-size: 1em;
    margin-top: 10px;
    padding-bottom: 20px;
}

/* CONTACT */

form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.form_ctn{
    color: white;
}

.btn{
    background-color: #e62b1e;
}

.btn:hover{
    opacity: 80%;
}

