.red {
    color: #e62b1e;
}

.bold {
    font-weight: bold;
}

/* NAVBAR */

.navbar {
    font-family: Helvetica;
    font-size: 1.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.navlink {
    color: white;
    text-decoration: none;
    padding-right: 0.5em;
}

.navlogo {
    color: white;
    text-decoration: none;
    position: fixed;
    top: 0.4em;
    left: 0.5em;
}

#logonav {
    width: 400px;
}

.navbar,
.navlink {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.navlink:hover {
    color: #e62b1e;
    text-decoration: none;
}

.navlogo:hover {
    opacity: 90%;
    text-decoration: none;
    color: white;
}

/* HOME */

.home_title {
    color: white;
    text-align: center;
}

/* PARTENAIRES */

body {
    background-color: black;
    color: black;
    width: 100%;
}

.ptn_title {
    text-align: center;
    color: white;
    padding-top: 2em;
    font-size: 4em;
    font-family: Helvetica, sans-serif;
}

.ptn_subtitle {
    color: white;
    font-family: Helvetica;
    text-align: center;
    font-size: 1.3em;
}

.ptn_ctn {
    text-align: center;
    color: white;
    justify-content: space-between;

}

.ptn_ctn img {
    padding: 0px;
    width: 230px;
    height: 200px;
    margin-right: 30px;
    margin-left: 30px;
}

.ptn_ctg {
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    margin-top: 5em;
}

.ptn_contact {
    text-align: center;
    color: white;
    font-size: 1.3em;
    font-family: Helvetica, sans-serif;
    margin-top: 5em;
}

/*apropos */

.section_ {
    display: flex;
}

.title1 {
    color: white;
    margin-top: 215px;
    font-size: 65px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.title2 {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: white;
}

.para1 {
    max-width: 400px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    line-height: 1.2em;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.triangle {
    display: inline-block;
    height: 0px;
    width: 0px;
    border-bottom: 700px solid transparent;
    border-left: 700px solid #e62b1e;
    margin-top: 1em;
}


/* TALKS */

.talks_banner {
    background-color: rgb(226, 42, 25);
    padding-bottom: 30px;
    padding-top: 2em;
    margin-top: 0.8em;
}

.talks_banner img {
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.talks_banner
.talks_title {
    color: white;
    font-family: Helvetica, sans-serif;
    margin-left: 8.7em;
}

.talks_title {
    position: absolute;
    margin-top: 1em;
    font-size: 4em;
}

.bloc_page_content_talks {
    background-color: rgb(28, 28, 28);
    padding-top: 30px;
    padding-bottom: 50px;
}

.card_talks {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15em;
}

.container_talks {
    padding: 30px 16px;
    background-color: white;
}

.row {
    width: 100%;
}

/* EQUIPES */

.team_ctn {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.team_ctn img {
    padding: 0px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.team_name {
    font-size: 1.5em;
    margin-bottom: 0px;
}

.team_job {
    font-size: 1em;
    margin-top: 10px;
    padding-bottom: 20px;
}


/* CONTACT */

form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.form_ctn {
    color: white;
}

.btn {
    background-color: #e62b1e;
}

.btn:hover {
    opacity: 80%;
}

#logocontact {
    margin-left: 100px;
    width: 400px;

}

/*Footer*/
.ftitle {
    color: white;
}

footer {
    background: black;
    margin-top: 4em;
}

footer a {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.foot {
    display: flex;
    justify-content: space-around;


}

/**/
.align_ {
    display: flex;
    justify-content: space-around;


}

.fdiv {


    position: relative;

    right: 85px;

}

.larg_ {
    width: 200px;
    text-align: center;
    background: black;
    color: white;
    border: 1px solid white;
    padding: 6px;
}

.sub_position {
    position: absolute;
    top: 0.5px;
    left: 200px;
    background: black;
    color: white;
    border: 1px solid white;
    padding: 6px;

}

.title_message {
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 30px;
}

.ligne_ {
    background: white;

}

.foot_r {
    color: white;
    text-align: center;
    padding-top: 15px;
}

.color_x {
    color: red;
}

