{% extends 'base.html.twig' %}

{% block body %}
<style>
    body{background: black; color:white; }; 

</style>


<section class="section_">
        <div class="triangle"></div>
        <div class="fusion">
            <h1 class="title1"> A propos de nous </h1>
            <p class="para1">Osez le savoir est la traduction de « Sapere Aude », le cri de guerre du Siècle des Lumières, aux XVIIe et XVIIIe siècles.</p> 
        </div>
</section>
{% endblock %}
